/*CSS Grid*/
.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "h h h h h h h h h h"
    "a a m m m m m m m m"
    "f f f f f f f f f f";
}

/*Header*/
.logo {
  width: 250px;
}

/*Nav bar*/
.nav {
  font-family:'Oswald', sans-serif;
  display: flex;
  flex-direction:row;
  color: #5a5a5a;
  justify-content: center;
	align-content: center;
  list-style-type: none;
    }

/*.nav li {
  padding: 10px;
}*/

.nav a {
  text-decoration: none;
  padding: 10px;
}

.nav a:hover {
  font-weight:bold;
  color: orange;
}

a:visited {
  color: #5a5a5a;
}

/*Portfolio Thumbnail Images*/
.thumbnailImage {
  border:0;
  width:250px;
}

a.thumbnailImage:hover {
  opacity: .5;
}

.portfolioImage {
  width:50%;
  border:0;
}

.headshot {
  grid-column:3 / span 1;
  width: 250px;
}

/*General Stlyes*/
main {
  margin: 10px;
  grid-area: m;
}

header {
  display: flex;
  justify-content: center;
  /*align-items: : center;*/
  margin: 10px;
  grid-area: h;
}

article {
  margin: 10px;
  grid area: a;
}

footer {
  padding: 10px;
  background-color: #E8E8E8;
  grid-area: f;
}

#intro {
  justify-content: center;
  align-content: center;
  padding-right: 20px;
  padding-top: 20px;
}

p {
  font-family: 'Quattrocento', sans-serif;
  color:#5a5a5a;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color:#5a5a5a;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #1c1b20;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: orange;
}

.jobRespons li, .skills li {
  list-style-type: none;
  font-family: 'Quattrocento', sans-serif;
  color:#5a5a5a;
  padding-top: 2px;
}

.jobLocation {
  color: black;
  font-weight: bold;
}

.contact p {
  font-size: 14px;
}
